version: '3.9'

services:
  db:
    image: postgres:14.3
    restart: always
    container_name: bambudb
    ports:
      - "5555:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - bambudb:/var/lib/postgresql/data

volumes:
  bambudb:
